/Ares_Data.csv
/Bucky_Data.csv
/Bulldog_Data.csv
/Classic_Data.csv
/Frenzy_Data.csv
/Ghost_Data.csv
/Guardian_Data.csv
/Judge_Data.csv
/Knife_Data.csv
/Marshal_Data.csv
/Odin_Data.csv
/Operator_Data.csv
/Outlaw_Data.csv
/Phantom_Data.csv
/Sheriff_Data.csv
/Shorty_Data.csv
/Spectre_Data.csv
/Stinger_Data.csv
/Vandal_Data.csv